.card {
  height: 30vw;
  box-sizing: border-box;
  padding: 10px;
  padding: 0px;
  margin: 10px;
  box-shadow: -2.5px -2.5px 15px 5px grey,
               2.5px 2.5px 15px 5px grey;
}

.video-frame {
  height: 15vw;
  width: 20vw;
}

.tech-gif {
  height: 15vw;
  width: 20vw;
}

.list-button {
  background-color: #121730;
  color: white;
  border-radius: 2px;
  border-style: inset;
  width: 15vw;
  height:2vw;
}
